body {
  display: grid;
  height: 100vh;
  grid-template-rows: auto 1fr auto;
}

#logo_header {
  display: flex;
  margin: 0 auto;
  width: 750px;
  height: 100px;
}

.parent_container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}

#promotion {
  grid-column: 1 / span 3;
}

#services {
  grid-column: 1 / span 1;
}

#tutorials {
  grid-column: 2 / span 1;
}

#bookings {
  grid-column: 3 / span 1;
}

.footer_container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

#logo_footer {
  display: flex;
  justify-content: center;
  margin: 0 auto;
  width: 100px;
  height: 75px;
}

.copyright_footer {
  grid-column: 2 / span 2;
}
